/* link google-fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

/** RESET **/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none outside none;
  text-decoration: none;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
img {
  border: 0 none;
  outline: 0 none;
}
img {
  width: 100%;
  display: block;
}
input {
  outline: 0 none;
  border: 0 none;
  background: 0 none;
}

/** TYPOGRAPHY **/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 14.5px;
}

p {
  color: #737373;
  font-size: 11.5px;
  line-height: 14.5px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

h1 {
  color: #4b4b4b;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "DM Serif Display", serif;
}

h2 {
  color: #4b4b4b;
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "DM Serif Display", serif;
}

h3 {
  color: #4b4b4b;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "DM Serif Display", serif;
}

h4 {
  color: #4b4b4b;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "DM Serif Display", serif;
}
@media (min-width: 800px) {
  body {
    font-size: 24px;
    line-height: 28.8px;
  }
  h1,
  .h1 {
    font-size: 64px;
    line-height: 70px;
  }
  h2 {
    font-size: 58px;
    line-height: 64px;
  }
  h3 {
    font-size: 52px;
    line-height: 58px;
  }
  h4 {
    font-size: 36px;
    line-height: 42px;
  }
  p {
    font-size: 24px;
    line-height: 28.8px;
  }
}
/* ==============
global-css
=============== */
@media (min-width: 1320px) {
  .container {
    max-width: 1260px;
  }
}
.h1 {
  color: #4b4b4b;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "DM Serif Display", serif;
}
@media (min-width: 800px) {
  .h1 {
    font-size: 64px;
    line-height: 70px;
  }
}

/*================
 Header
	================*/
.main-header {
  width: 100%;
  height: 126px;
  display: flex;
  align-items: center;
}
.main-header .navbar-brand img {
  width: 86px;
  height: 34px;
}
.navbar .navbar-nav .nav-link {
  padding: 0 30px 0 30px;
}
.navbar-nav {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
}
.search-market {
  display: flex;
  justify-content: flex-end;
}
.search-market form input {
  width: 200px;
  height: 26.03px;
  padding-left: 200px;
  background-image: url(../reposetories/logo-search.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 26.03px;
  transition: 0.3s linear 0s;
  cursor: pointer;
}
.search-market form input:focus {
  width: 200px;
  padding-left: 0px;
  font-family: "Roboto", sans-serif;
  color: #4b4b4b;
  border: 2px solid #4b4b4b;
}

.search-market a img {
  width: 26.03px;
  height: 26.03px;
  margin-left: 15px;
}
@media (max-width: 576px) {
  .search-market {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}

/* ==============
Section-Main
============== */
.main-section {
  width: 100%;
  position: relative;
}
.main-section::after {
  content: "";
  height: 207px;
  width: 50%;
  position: absolute;
  right: 0;
  top: 69px;
  background-color: #faf4ef;
  z-index: 1;
}

.main-section .main-article {
  position: relative;
  width: 100%;
  height: 816px;
}
.main-article .img-container {
  width: 963px;
  position: absolute;
  top: 13px;
  right: 0;
  z-index: 2;
}
.main-article .info-box {
  background-color: rgba(255, 255, 255, 0.78);
  backdrop-filter: blur(30px);
  width: 492px;
  padding: 62.5px 30px 62.5px 0;
  position: absolute;
  top: 254px;
  left: 0;
  z-index: 3;
}
@media (max-width: 576px) {
  .main-section .main-article {
    height: 406px;
  }
  .main-article .img-container {
    width: 537.62px;
    left: 98px;
  }
  .main-article .info-box {
    width: 234.03px;
    top: 75px;
    padding: 32.58px 15px 32.58px 0;
  }
}
/* ===========
Section-Products
============== */
.products-section {
  width: 100%;
  padding-top: 83px;
}
.products-section h2 {
  margin-bottom: 49px;
}
.products-section .nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 86px;
}
.products-section .nav .nav-link {
  color: rgba(75, 75, 75, 0.5);
  padding-left: 27.5px;
  padding-right: 27.5px;
}
.products-section .nav .active {
  color: #4b4b4b;
}
.products-section .row {
  margin-left: -33.5px;
  margin-right: -33.5px;
}
.products-section .row .col-md-4 {
  padding-left: 33.5px;
  padding-right: 33.5px;
}
.products-section .article-container {
  background-color: #faf4ef;
  max-width: 366px;
  height: 420px;
  border-radius: 0px 0px 0px 50px;
  margin-bottom: 129px;
  padding: 43px 30.41px 0 46.11px;
}
.article-container .article-price {
  margin-bottom: 36px;
}

/* ============
Section-about
=============== */

/* =========
Foooter
=========== */ ;
