/* link google-fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

/** RESET **/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none outside none;
  text-decoration: none;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
img {
  border: 0 none;
  outline: 0 none;
}
img {
  width: 100%;
  display: block;
}
input {
  outline: 0 none;
  border: 0 none;
  background: 0 none;
}

/** TYPOGRAPHY **/
body{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11.5px;
  line-height:14.5px ;  
}

p {
  color: #737373;
  font-size: 11.5px;
  line-height: 14.5px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

h1 {
  color: #4b4b4b;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "DM Serif Display", serif;
}

h2 {
  color: #4b4b4b;
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "DM Serif Display", serif;
}

h3 {
  color: #4b4b4b;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "DM Serif Display", serif;
}

h4 {
  color: #4b4b4b;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "DM Serif Display", serif;
}
@media (min-width:1002px){
  body{
    font-size: 24px;
    line-height: 28.8px;
  }
  h1, .h1{
    font-size: 64px;
    line-height: 70px;
  }
  h2{
    font-size: 58px;
    line-height: 64px;

  }
  h3{
    font-size: 52px;
    line-height: 58px;
  }
  h4{
    font-size: 36px;
    line-height: 42px:
  }
  p{
    font-size: 24px;
    line-height: 28.8px;
  }
}
/* ==============
global-css
=============== */
@media (min-width: 1322px) {
  .container{
    max-width: 1262px;
  }
  }
}
/*================
 GENERAL 
	================*/

  /* =============
  Header
  ============= */
.main-header {
  width: 100%;
  background-color: #e5e5e5;
}
.main-header .container .navbar{
  padding: 46px 0;
}
.logo-brand{
  width: 86px;
  height: 34px;
  padding: 0;
}
.nav-search-market{
  display: flex;
  justify-content: center;
}
.navbar-light .navbar-nav .nav-link{
  color: #4B4B4B;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0 30px;
  padding: 0;

}
.nav-search-market form input{
  width: 26.03px;
  height: 26.03px;
  background-image: url(../reposetories/logo-search.svg);
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: center right;
  padding-left: 26.03px;
  transition: 0.3s linear 0s;
}
.nav-search-market form input:focus{
  width: 130px;
  background-color: #e5e5e5;
  padding-left: 5px;
}
.nav-search-market a img{
  width: 26px;
}
.nav-search-market a{
  margin-left:15px ;
}
@media (max-width:990px){
  .navbar-nav .nav-item{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   
  }
  .nav-search-market{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .nav-search-market form{
    margin: 0 30px;
  }
  .nav-search-market a{
    margin: 10px 30px;
  }
}
/* ==============
Banner
============== */


.section-main{
  width: 100%;
  height: 816px;
  position: relative;
}
.container-main{
  width: 100%;
  position: relative;
}
.section-main .banner-info{
  max-width: 492px ;
  height: 300px;
  position:absolute ;
  top: 254px;
  left: 103px;
  background-color: rgba(255, 255, 255, 0.78);
  z-index: 3;
}
.banner-imgContainer{
  width:615.25px ;
  height: 417.83px;
  position: absolute;
  top: 8.31px;
  left: 234.47px;
  z-index: 2;
}
.banner-design{
  width: 776px;
  height: 207px;
  position: absolute;
  top: 8.45%;
  left: 46.11%;
  background-color:#FAF4EF;
  z-index: 1;
}

/* ===========
Products
============== */
.section-products{
  position: relative;
  width: 100%;
  height: 1392px;
}
.section-products h2{
  padding-top: 83px;
}
.section-products .nav-productsTab{
display: flex;
justify-content: center;
align-items: center;
}
.section-products .nav-productsTab li a{
  color: rgba(75, 75, 75, 0.58);
  font-style: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 49px 27.5px;
}
.section-products .nav-productsTab li .active{
  color: #4B4B4B;
  background-color:#fff ;
}
.article-container{
  width: 366px;
  height: 420px;
  background-color: #FAF4EF;
  margin-bottom: 129px;
  padding-top:43px ;
  border-radius: 0px 0px 0px 50px;
  
  
}
.article-container .article-title{
  margin-left: 46.11px;
  margin-right: 30.41px;
}
.article-container .article-price{
  margin-left: 46.11px;
  margin-right: 30.41px;
}
.article-container .prodImgContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.article-container .prodImgContainer img{
  max-height: 286px;
  width: auto;
  margin-top: 20px;
}
@media (max-width:1350px){
  .tab-content .row{
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
